.SignInContainer {
    display: flex;
    justify-content: center;
}

.ArticleContainer {
    margin: 1rem 0;
    width: 100%;
    height: max-content;
    max-width: 38rem;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;

    legend {
        color: #66FCF1;
    }
}