.Navbar {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;

    p {
        font-size: 1.2rem;
        margin: 1.2rem 0;
        padding: 0.5rem;
        cursor: pointer;
        color: #66FCF1;
        font-weight: 400;
        transition: 0.15s ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}