.RegisterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.RegisterDiv {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 15px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 40%;
    margin: 2.5rem;
    padding: 2rem;
    color: #fff;

    h1 {
        margin: 0;
        color: #66FCF1;
        font-size: 2.3rem;
    }

    .formInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p {
            margin: 0;
            margin-top: 1.2rem;
            margin-bottom: .5rem;
            font-weight: 300;
        }

        input {
            padding: .9rem 1rem;
            border-radius: .5rem;
            border: none;
            width: 80%;
            background-color: rgba(70, 81, 98, 0.4);
            transition: 0.3s ease-in-out;
            color: #66FCF1;

            &::placeholder{
                color: #fff;
                opacity: 0.4;
            }
            &:focus {
                background-color: rgba(70, 81, 98, 1);
                color: #fff;
                &::placeholder {
                    opacity: 0.8;
                }
            }
        }

        button {
            margin: 2rem 0;
            border-radius: 1.3rem;
            padding: .7rem 6rem;
            font-size: 1.1rem;
            width: max-content;
            border: none;
            color: #151B26;
            font-weight: 600;
            transition: 0.2s ease-in-out;

            &:hover {
                background: #66FCF1;
            }
            &:active{
                transform: scale(0.95);
                transition: 0.1s ease-in-out;
            }
        };
    }

    .Register {
        background: transparent;
        border: none;
        width: max-content;
        color: #fff;
        margin-top: 2rem;
        font-size: .9rem;
        font-weight: 500;
        transition: 0.2s ease-in-out;

        &:hover {
            color: #66FCF1;
        }
        &:active{
            transform: scale(0.95);
            transition: 0.1s ease-in-out;
        }
    }
}
.Message{
    color: #FFC26F;
    margin: 0;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
    .RegisterDiv {
        width: 30rem;
    }
}

@media screen and (max-width: 500px) {
    .RegisterDiv {
        box-shadow: none;
        width: 100%;

        .formInput {
            button {
                padding: .7rem 3.5rem;
            }
        }
    }
}
